{#
/**
 *
 * Copyright (c) Ratepay GmbH
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
#}
{% extends "page/checkout/payment.html.twig" %}
{% block checkout_payment_errors %}
    {{ script({ include: oViewConf.getModuleUrl('ratepay')~"Installment/js/libs/jquery.min.js", dynamic: __oxid_include_dynamic }) }}
    {{ script({ include: oViewConf.getModuleUrl('ratepay')~"Installment/js/libs/jquery-ui.min.js", dynamic: __oxid_include_dynamic }) }}
    {% if isset(pi_ratepay_dfp_token) %}
        <script language="JavaScript" async>
            function piCheckFingerprint () {
                if (typeof blInserted == 'undefined') {
                    var diSkriptVar = document.createElement('script');
                    diSkriptVar.type = 'text/javascript';
                    diSkriptVar.text =  "var blInserted = true;var di = {t:'{{ pi_ratepay_dfp_token }}',v:'{{ pi_ratepay_dfp_snippet_id }}',l:'Checkout'};";
                    document.getElementsByTagName('head')[0].appendChild(diSkriptVar);

                    var diSkript = document.createElement('script');
                    diSkript.type = 'text/javascript';
                    diSkript.src = '//d.ratepay.com/{{ pi_ratepay_dfp_snippet_id }}/di.js';
                    document.getElementsByTagName('head')[0].appendChild(diSkript);
                }
            }
        </script>
    {% else %}
        <script language="JavaScript" async>
            function   piCheckFingerprint () {
                return false;
            }
        </script>
    {% endif %}

    {% for pierror in piRatepayErrors %}
        {% if pierror == "-300" %}
            <div class="alert alert-danger" role="alert">
                <p>{{ translate({ ident: "PI_RATEPAY_ELV_ERROR" }) }}<a href="{{ pi_ratepay_elv_url }}" target="_blank">{{ translate({ ident: "PI_RATEPAY_RATE_VIEW_POLICY_PRIVACYPOLICY" }) }}</a>.</p>
            </div>
        {% endif %}

        <!-- Rechnung -->
        {% if pierror == "-400" %}
            <div class="alert alert-danger" role="alert">
                <p>{{ translate({ ident: "PI_RATEPAY_RECHNUNG_ERROR" }) }}<a href="{{ pi_ratepay_rechnung_url }}" target="_blank">{{ translate({ ident: "PI_RATEPAY_RECHNUNG_VIEW_POLICY_PRIVACYPOLICY" }) }}</a>.</p>
            </div>
        {% endif %}

        {% if pierror == "-401" %}
            <div class="alert alert-danger" role="alert">
                <p>{{ translate({ ident: "PI_RATEPAY_RECHNUNG_ERROR_BIRTH" }) }}</p>
            </div>
        {% endif %}

        {% if pierror == "-404" %}
            <div class="alert alert-danger" role="alert">
                <p>{{ translate({ ident: "PI_RATEPAY_RECHNUNG_ERROR_PHONE" }) }}</p>
            </div>
        {% endif %}

        {% if pierror == "-405" %}
            <div class="alert alert-danger" role="alert">
                <p>{{ translate({ ident: "PI_RATEPAY_RECHNUNG_ERROR_ADDRESS" }) }}</p>
            </div>
        {% endif %}

        {% if pierror == "-406" %}
            <div class="alert alert-danger" role="alert">
                <p>{{ translate({ ident: "PI_RATEPAY_RECHNUNG_ERROR_ZIP" }) }}</p>
            </div>
        {% endif %}

        {% if pierror == "-414" %}
            <div class="alert alert-danger" role="alert">
                <p>{{ translate({ ident: "PI_RATEPAY_RECHNUNG_ERROR_AGE" }) }}</p>
            </div>
        {% endif %}

        <!-- Rate -->
        {% if pierror == "-407" %}
            <div class="alert alert-danger" role="alert">
                <p>{{ translate({ ident: "PI_RATEPAY_RATE_ERROR" }) }}<a href="{{ pi_ratepay_rate_url }}" target="_blank">{{ translate({ ident: "PI_RATEPAY_RATE_VIEW_POLICY_PRIVACYPOLICY" }) }}</a>.</p>
            </div>
        {% endif %}

        {% if pierror == "-408" %}
            <div class="alert alert-danger" role="alert">
                <p>{{ translate({ ident: "PI_RATEPAY_RATE_ERROR_BIRTH" }) }}</p>
            </div>
        {% endif %}

        {% if pierror == "-412" %}
            <div class="alert alert-danger" role="alert">
                <p>{{ translate({ ident: "PI_RATEPAY_RATE_ERROR_ADDRESS" }) }}</p>
            </div>
        {% endif %}

        {% if pierror == "-413" %}
            <div class="alert alert-danger" role="alert">
                <p>{{ translate({ ident: "PI_RATEPAY_RATE_ERROR_ZIP" }) }}</p>
            </div>
        {% endif %}

        {% if pierror == "-415" %}
            <div class="alert alert-danger" role="alert">
                <p>{{ translate({ ident: "PI_RATEPAY_RATE_ERROR_AGE" }) }}</p>
            </div>
        {% endif %}

        {% if pierror == "-460" %}
            <div class="alert alert-danger" role="alert">
                <p>{{ translate({ ident: "PI_RATEPAY_RATE_ERROR_PHONE" }) }}</p>
            </div>
        {% endif %}

        <!-- ELV -->
        {% if pierror == "-500" %}
            <div class="alert alert-danger" role="alert">
                <p>{{ translate({ ident: "PI_RATEPAY_ELV_ERROR_OWNER" }) }}</p>
            </div>
        {% endif %}
        {% if pierror == "-501" %}
            <div class="alert alert-danger" role="alert">
                <p>{{ translate({ ident: "PI_RATEPAY_ELV_ERROR_ACCOUNT_NUMBER" }) }}</p>
            </div>
        {% endif %}
        {% if pierror == "-502" %}
            <div class="alert alert-danger" role="alert">
                <p>{{ translate({ ident: "PI_RATEPAY_ELV_ERROR_CODE" }) }}</p>
            </div>
        {% endif %}
        {% if pierror == "-504" %}
            <div class="alert alert-danger" role="alert">
                <p>{{ translate({ ident: "PI_RATEPAY_ELV_ERROR" }) }}<a href="{{ pi_ratepay_elv_url }}" target="_blank">{{ translate({ ident: "PI_RATEPAY_ELV_VIEW_POLICY_PRIVACYPOLICY" }) }}</a>.</p>
            </div>
        {% endif %}

        {% if pierror == "-505" %}
            <div class="alert alert-danger" role="alert">
                <p>{{ translate({ ident: "PI_RATEPAY_ELV_ERROR_BIRTH" }) }}</p>
            </div>
        {% endif %}

        {% if pierror == "-506" %}
            <div class="alert alert-danger" role="alert">
                <p>{{ translate({ ident: "PI_RATEPAY_ELV_ERROR_ADDRESS" }) }}</p>
            </div>
        {% endif %}

        {% if pierror == "-507" %}
            <div class="alert alert-danger" role="alert">
                <p>{{ translate({ ident: "PI_RATEPAY_ELV_ERROR_AGE" }) }}</p>
            </div>
        {% endif %}

        {% if pierror == "-508" %}
            <div class="alert alert-danger" role="alert">
                <p>{{ translate({ ident: "PI_RATEPAY_ELV_ERROR_PHONE" }) }}</p>
            </div>
        {% endif %}

        {% if pierror == "-509" %}
            <div class="alert alert-danger" role="alert">
                <p>{{ translate({ ident: "PI_RATEPAY_ELV_ERROR_BANKCODE_TO_SHORT" }) }}</p>
            </div>
        {% endif %}

        {% if pierror == "-511" %}
            <div class="alert alert-danger" role="alert">
                <p>{{ translate({ ident: "PI_RATEPAY_ELV_ERROR_ZIP" }) }}</p>
            </div>
        {% endif %}

        <!-- All -->
        {% if pierror == "-416" %}
            <div class="alert alert-danger" role="alert">
                <p>{{ translate({ ident: "PI_RATEPAY_ERROR_COMPANY" }) }}</p>
            </div>
        {% endif %}

        {% if pierror == "-418" %}
            <div class="alert alert-danger" role="alert">
                <p>{{ translate({ ident: "PI_RATEPAY_ERROR_CONNECTION_TIMEOUT" }) }}</p>
            </div>
        {% endif %}

        {% if pierror == "-419" %}
            <div class="alert alert-danger" role="alert">
                <p>{{ translate({ ident: "PI_RATEPAY_ERROR_BIRTHDAY_YEAR_DIGITS" }) }}</p>
            </div>
        {% endif %}

        {% if pierror == "-835" %}
            <div class="alert alert-danger" role="alert">
                <p>{{ translate({ ident: "PI_RATEPAY_ERROR_COMPANY_BIRTHDAY_DIGITS" }) }}</p>
            </div>
        {% endif %}

        {% if pierror == "-461" %}
            <div class="alert alert-danger" role="alert">
                <p>{{ translate({ ident: "PI_RATEPAY_ERROR_PRIVACY_AGREEMENT" }) }}</p>
            </div>
        {% endif %}

        {% if pierror == "-001" %}
            <div class="alert alert-danger" role="alert">
                <p>{{ customer_message }}</p>
            </div>
        {% endif %}
    {% endfor %}

    {{ script({ add: "
    var ratepayPayments = $('.cl-payment').find('.form-check-input').click(function(el){
        $('.payment-option').find('.pi_ratepay_inner').addClass('d-none');
        $(el.target).closest('.payment-option').find('.pi_ratepay_inner').removeClass('d-none');
    });

    $('.form-check-input').click(function(){
        if ($(this).attr('id').search('payment_pi') == -1) {
            document.querySelector('.sticky-md-top .btn').disabled = false;
        }
    });

    function piTogglePolicy(policy) {
        $('#policyButton' + policy).click(function() {
            $('.policyButtonText' + policy).toggle();
            $('#policy' + policy).toggle();
        });
    }

    function piShow(input, elementToToggle) {
        $(input).click(function() {
            $(elementToToggle).show();
        });
    }

    function piHide(input, elementToToggle) {
        $(input).click(function() {
            $(elementToToggle).hide();
        });
    }

    function piCalculator() {
        if ($('#payment_pi_ratepay_rate').is(':checked') || $('#payment_pi_ratepay_rate0').is(':checked')) {
            var agreementCheckbox = $('#rp-sepa-aggreement');
            agreementCheckbox.prop('checked', false);
            $('.sticky-md-top').find('.btn').prop('disabled', true);
        } else if ($('#payment_pi_ratepay_elv').is(':checked')) {
            agreementCheckbox = $('#pi_ratepay_elv_sepa_agreement_check');
            agreementCheckbox.prop('checked', false);
            $('.sticky-md-top').find('.btn').prop('disabled', true);
        } else {
            $('.sticky-md-top').find('.btn').prop('disabled', false);
        }
    }

    function autoLoadPiCalculator(methodName) {
        if ($('#payment_' + methodName).is(':checked')) {
            var idPattern = methodName+'_piRpInput-buttonMonth';
            var runtimeButtons = $('button[id^='+idPattern+']');
            if (runtimeButtons.length === 0) {
                return;
            }

            var month = runtimeButtons[0].innerText;
            piRatepayRateCalculatorAction('runtime', methodName, month);
        }
    }

    function checkElvForm() {
        if ($('#payment_pi_ratepay_elv').is(':checked')) {
            var agreementCheckbox = $('#pi_ratepay_elv_sepa_agreement_check');
            var ibanField = $('#pi_ratepay_elv_bank_iban');

            if (ibanField.val() !== '' && agreementCheckbox.is(':checked')) {
                $('.sticky-md-top').find('.btn').prop('disabled', false);
            } else {
                $('.sticky-md-top').find('.btn').prop('disabled', true);
            }
        }
    }

    ", dynamic: __oxid_include_dynamic }) }}
{% endblock %}

{% block select_payment %}
    {% if sPaymentID == "pi_ratepay_rechnung" %}
        {% set dynvalue = oView.getDynValue() %}
        <div class="payment-option">
            {% if oView.getCheckedPaymentId() == paymentmethod.oxpayments__oxid.value %}
                {{ script({ add: "piCheckFingerprint();", dynamic: __oxid_include_dynamic }) }}
            {% endif %}
            <input id="payment_{{ sPaymentID }}" class="form-check-input" type="radio" onclick="piCalculator(); piCheckFingerprint();" name="paymentid" value="{{ sPaymentID }}" {% if oView.getCheckedPaymentId() == paymentmethod.oxpayments__oxid.value %}checked{% endif %} style="position:relative;">
            <label for="payment_{{ sPaymentID }}">{{ paymentmethod.oxpayments__oxdesc.value }}</label>
            <div class="pi_ratepay_inner {% if oView.getCheckedPaymentId() == paymentmethod.oxpayments__oxid.value %}activePayment{% else %} d-none{% endif %}">
                {% if pi_ratepay_rechnung_sandbox_notification == 1  %}
                    <div id="sandbox_notification{{ sPaymentID }}" style="background: yellow; color: black; border: 3px dashed red; font-weight: bold; text-align: center; font-size:14px; padding-top: 10px; ">
                        <p>
                            {{ translate({ ident: "PI_RATEPAY_RECHNUNG_VIEW_SANDBOX_NOTIFICATION" }) }}
                        </p>
                    </div>
                {% endif %}
                <div>
                    {{ translate({ ident: "PI_RATEPAY_POLICY" }) }}
                </div>
                </br>
                <ul class="form pi_ratepay_rechnung_form pi_ratepay_form">
                    {% if isset(pi_ratepay_rechnung_fon_check) %}
                        <li>
                            <label>{{ translate({ ident: "PI_RATEPAY_RECHNUNG_VIEW_PAYMENT_FON" }) }}</label>
                            <input name='pi_ratepay_rechnung_fon' type='text' value='' size='37'/>
                        </li>
                    {% endif %}
                    {% if isset(pi_ratepay_rechnung_birthdate_check) %}
                        <li>
                            <label>{{ translate({ ident: "PI_RATEPAY_RECHNUNG_VIEW_PAYMENT_BIRTHDATE" }) }}</label>
                            <input name='pi_ratepay_rechnung_birthdate_day' maxlength='2' size='2' type='text' value='' data-fieldsize='small'/>
                            <input name='pi_ratepay_rechnung_birthdate_month' maxlength='2' size='2' type='text' value='' data-fieldsize='small'/>
                            <input name='pi_ratepay_rechnung_birthdate_year' maxlength='4' size='4' type='text' value='' data-fieldsize='small'/>
                            <div class='note'>{{ translate({ ident: "PI_RATEPAY_RECHNUNG_VIEW_PAYMENT_BIRTHDATE_FORMAT" }) }}</div>
                        </li>
                    {% endif %}
                    {% if isset(pi_ratepay_rechnung_company_check) %}
                        <li>
                            <label>{{ translate({ ident: "PI_RATEPAY_RECHNUNG_VIEW_PAYMENT_COMPANY" }) }}</label>
                            <input name='pi_ratepay_rechnung_company' maxlength='255' size='37' type='text' value=''/>
                        </li>
                    {% endif %}
                    {% if isset(pi_ratepay_rechnung_ust_check) %}
                        <li>
                            <label>{{ translate({ ident: "PI_RATEPAY_RECHNUNG_VIEW_PAYMENT_UST" }) }}</label>
                            <input name='pi_ratepay_rechnung_ust' maxlength='255' size='37' type='text' value=''/>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', () => {
                piTogglePolicy('{{ sPaymentID }}');
            });
        </script>
    {% endif %}

    {% if sPaymentID == "pi_ratepay_rate" %}
        {% set dynvalue = oView.getDynValue() %}
        {% if oView.getCheckedPaymentId() == paymentmethod.oxpayments__oxid.value %}
            {{ script({ add: "piCheckFingerprint();", dynamic: __oxid_include_dynamic }) }}
        {% endif %}
        <div class="payment-option">
            <input id="payment_{{ sPaymentID }}" class="form-check-input" type="radio" onclick="piCalculator(); piCheckFingerprint();" name="paymentid" value="{{ sPaymentID }}" {% if oView.getCheckedPaymentId() == paymentmethod.oxpayments__oxid.value %}checked{% endif %} style="position:relative;">
            <label for="payment_{{ sPaymentID }}">{{ paymentmethod.oxpayments__oxdesc.value }}</label>
            <div class="pi_ratepay_inner {% if oView.getCheckedPaymentId() == paymentmethod.oxpayments__oxid.value %}activePayment{% else %} d-none{% endif %}">
                {% if pi_ratepay_rate_sandbox_notification == 1  %}
                    <div id="sandbox_notification{{ sPaymentID }}" style="background: yellow; color: black; border: 3px dashed red; font-weight: bold; text-align: center; font-size:14px; padding-top: 10px; ">
                        <p>
                            {{ translate({ ident: "PI_RATEPAY_RATE_VIEW_SANDBOX_NOTIFICATION" }) }}
                        </p>
                    </div>
                {% endif %}
                <div>
                    {{ translate({ ident: "PI_RATEPAY_POLICY" }) }}
                </div>
                </br>
                <ul class="form pi_ratepay_rate_form pi_ratepay_form">
                    {% if isset(pi_ratepay_rate_fon_check) %}
                        <li>
                            <label>{{ translate({ ident: "PI_RATEPAY_RATE_VIEW_PAYMENT_FON" }) }}</label>
                            <input name='pi_ratepay_rate_fon' type='text' value='' size='37'>
                        </li>
                    {% endif %}
                    {% if isset(pi_ratepay_rate_birthdate_check) %}
                        <li>
                            <label>{{ translate({ ident: "PI_RATEPAY_RATE_VIEW_PAYMENT_BIRTHDATE" }) }}</label>
                            <input name='pi_ratepay_rate_birthdate_day' maxlength='2' size='2' type='text' value='' data-fieldsize='small'>
                            <input name='pi_ratepay_rate_birthdate_month' maxlength='2' size='2' type='text' value='' data-fieldsize='small'>
                            <input name='pi_ratepay_rate_birthdate_year' maxlength='4' size='4' type='text' value='' data-fieldsize='small'>
                            <div class='note'>{{ translate({ ident: "PI_RATEPAY_RATE_VIEW_PAYMENT_BIRTHDATE_FORMAT" }) }}</div>
                        </li>
                    {% endif %}
                    {% if isset(pi_ratepay_rate_company_check) %}
                        <li>
                            <label>{{ translate({ ident: "PI_RATEPAY_RATE_VIEW_PAYMENT_COMPANY" }) }}</label>
                            <input name='pi_ratepay_rate_company' maxlength='255' size='37' type='text' value=''>
                        </li>
                    {% endif %}
                    {% if isset(pi_ratepay_rate_ust_check) %}
                        <li>
                            <label>{{ translate({ ident: "PI_RATEPAY_RATE_VIEW_PAYMENT_UST" }) }}</label>
                            <input name='pi_ratepay_rate_ust' maxlength='255' size='37' type='text' value=''>
                        </li>
                    {% endif %}
                    {% if pi_ratepay_rate_activateelv == 1 %}
                        <li>
                            <label for="piRpRadioWire">{{ translate({ ident: "PI_RATEPAY_VIEW_RADIO_PAYMENT_WIRE" }) }}</label>
                            <input id="piRpRadioWire" class="form-check-input" type="radio" name="pi_rp_rate_pay_method" value="pi_ratepay_rate_radio_wire" checked >
                        </li>
                        <li>
                            <label for="piRpRadioElv">{{ translate({ ident: "PI_RATEPAY_VIEW_RADIO_LABEL_ELV" }) }}</label>
                            <input id="piRpRadioElv" class="form-check-input" type="radio" name="pi_rp_rate_pay_method" value="pi_ratepay_rate_radio_elv">
                        </li>
                    {% endif %}
                </ul>
                {% if pi_ratepay_rate_activateelv == 1 %}
                    <ul id="pi_ratepay_rate_bank_box" class="form pi_ratepay_rate_form pi_ratepay_form">
                        <li>
                            <label>{{ translate({ ident: "PI_RATEPAY_ELV_VIEW_BANK_OWNER" }) }}:</label>
                            <input name='pi_ratepay_rate_bank_owner' maxlength='255' size='37' type='text' value='{{ piDbBankowner }}'/>
                        </li>
                        <li>
                            <label>{{ translate({ ident: "PI_RATEPAY_ELV_VIEW_BANK_ACCOUNT_NUMBER" }) }}:</label>
                            <input name='pi_ratepay_rate_bank_account_number' maxlength='255' size='37' type='text' value='{{ piDbBankaccountnumber }}'/>
                        </li>
                    </ul>
                {% endif %}
                {% if isset(error) %}
                    <div class="alert alert-danger">{{ translate({ ident: "PI_RATEPAY_RECHNUNG_AGBERROR" }) }}</div>
                {% endif %}

                <br/>
                {% if pierror == " - 461" %}
                    <div class="alert alert-danger">
                        {{ translate({ ident: "PI_RATEPAY_RATE_ERROR_CALCULATE_TO_PROCEED" }) }}
                    </div>
                {% endif %}
                <div id="pi_ratepay_rate_pirpmain-cont"></div>
                {{ script({ add: "
                    if(document.getElementById('pi_ratepay_rate_pirpmain-cont')){
                        piLoadrateCalculator('pi_ratepay_rate');
                    }
                ", dynamic: __oxid_include_dynamic }) }}
            </div>
        </div>

        <script>
            document.addEventListener('DOMContentLoaded', () => {
                piTogglePolicy('{{ sPaymentID }}');
            });
        </script>
        {{ script({ add: "piCalculator();", dynamic: __oxid_include_dynamic }) }}
        {{ script({ add: "$('#pi_ratepay_rate_bank_box').hide();", dynamic: __oxid_include_dynamic }) }}
        {{ script({ add: "piShow('#piRpRadioElv', '#pi_ratepay_rate_bank_box');", dynamic: __oxid_include_dynamic }) }}
        {{ script({ add: "piHide('#piRpRadioWire', '#pi_ratepay_rate_bank_box');", dynamic: __oxid_include_dynamic }) }}
    {% endif %}
    {% if sPaymentID == "pi_ratepay_rate0" %}
        {% set dynvalue = oView.getDynValue() %}
        {% if oView.getCheckedPaymentId() == paymentmethod.oxpayments__oxid.value %}
            {{ script({ add: "piCheckFingerprint();", dynamic: __oxid_include_dynamic }) }}
        {% endif %}
        <div class="payment-option">
            <input id="payment_{{ sPaymentID }}" class="form-check-input" type="radio" onclick="piCalculator(); autoLoadPiCalculator('pi_ratepay_rate0'); piCheckFingerprint();" name="paymentid" value="{{ sPaymentID }}" {% if oView.getCheckedPaymentId() == paymentmethod.oxpayments__oxid.value %}checked{% endif %} style="position:relative;">
            <label for="payment_{{ sPaymentID }}">{{ paymentmethod.oxpayments__oxdesc.value }}</label>
            <div class="pi_ratepay_inner {% if oView.getCheckedPaymentId() == paymentmethod.oxpayments__oxid.value %}activePayment{% else %} d-none{% endif %}">
                {% if pi_ratepay_rate0_sandbox_notification == 1  %}
                    <div id="sandbox_notification{{ sPaymentID }}" style="background: yellow; color: black; border: 3px dashed red; font-weight: bold; text-align: center; font-size:14px; padding-top: 10px; ">
                        <p>
                            {{ translate({ ident: "PI_RATEPAY_RATE0_VIEW_SANDBOX_NOTIFICATION" }) }}
                        </p>
                    </div>
                {% endif %}
                <div>
                    {{ translate({ ident: "PI_RATEPAY_POLICY" }) }}
                </div>
                </br>
                <ul class="form pi_ratepay_rate0_form pi_ratepay_form">
                    {% if isset(pi_ratepay_rate0_fon_check) %}
                        <li>
                            <label>{{ translate({ ident: "PI_RATEPAY_RATE0_VIEW_PAYMENT_FON" }) }}</label>
                            <input name='pi_ratepay_rate0_fon' type='text' value='' size='37'>
                        </li>
                    {% endif %}
                    {% if isset(pi_ratepay_rate0_birthdate_check) %}
                        <li>
                            <label>{{ translate({ ident: "PI_RATEPAY_RATE0_VIEW_PAYMENT_BIRTHDATE" }) }}</label>
                            <input name='pi_ratepay_rate0_birthdate_day' maxlength='2' size='2' type='text' value='' data-fieldsize='small'>
                            <input name='pi_ratepay_rate0_birthdate_month' maxlength='2' size='2' type='text' value='' data-fieldsize='small'>
                            <input name='pi_ratepay_rate0_birthdate_year' maxlength='4' size='4' type='text' value='' data-fieldsize='small'>
                            <div class='note'>{{ translate({ ident: "PI_RATEPAY_RATE0_VIEW_PAYMENT_BIRTHDATE_FORMAT" }) }}</div>
                        </li>
                    {% endif %}
                    {% if isset(pi_ratepay_rate0_company_check) %}
                        <li>
                            <label>{{ translate({ ident: "PI_RATEPAY_RATE0_VIEW_PAYMENT_COMPANY" }) }}</label>
                            <input name='pi_ratepay_rate0_company' maxlength='255' size='37' type='text' value=''>
                        </li>
                    {% endif %}
                    {% if isset(pi_ratepay_rate0_ust_check) %}
                        <li>
                            <label>{{ translate({ ident: "PI_RATEPAY_RATE0_VIEW_PAYMENT_UST" }) }}</label>
                            <input name='pi_ratepay_rate0_ust' maxlength='255' size='37' type='text' value=''>
                        </li>
                    {% endif %}
                    {% if pi_ratepay_rate0_activateelv == 1 %}
                        <li>
                            <label for="piRpRadioWire">{{ translate({ ident: "PI_RATEPAY_VIEW_RADIO_PAYMENT_WIRE" }) }}</label>
                            <input id="piRpRadioWire" class="form-check-input" type="radio" name="pi_rp_rate_pay_method" value="pi_ratepay_rate0_radio_wire" checked >
                        </li>
                        <li>
                            <label for="piRpRadioElv">{{ translate({ ident: "PI_RATEPAY_VIEW_RADIO_LABEL_ELV" }) }}</label>
                            <input id="piRpRadioElv" class="form-check-input" type="radio" name="pi_rp_rate_pay_method" value="pi_ratepay_rate0_radio_elv">
                        </li>
                    {% endif %}
                </ul>
                {% if pi_ratepay_rate0_activateelv == 1 %}
                    <ul id="pi_ratepay_rate0_bank_box" class="form pi_ratepay_rate0_form pi_ratepay_form">
                        <li>
                            <label>{{ translate({ ident: "PI_RATEPAY_ELV_VIEW_BANK_OWNER" }) }}:</label>
                            <input name='pi_ratepay_rate0_bank_owner' maxlength='255' size='37' type='text' value='{{ piDbBankowner }}'/>
                        </li>
                        <li>
                            <label>{{ translate({ ident: "PI_RATEPAY_ELV_VIEW_BANK_ACCOUNT_NUMBER" }) }}:</label>
                            <input name='pi_ratepay_rate0_bank_account_number' maxlength='255' size='37' type='text' value='{{ piDbBankaccountnumber }}'/>
                        </li>
                    </ul>
                {% endif %}
                {% if isset(error) %}
                    <div class="alert alert-danger">{{ translate({ ident: "PI_RATEPAY_RECHNUNG_AGBERROR" }) }}</div>
                {% endif %}

                <br/>
                {% if pierror == " - 461" %}
                    <div class="alert alert-danger">
                        {{ translate({ ident: "PI_RATEPAY_RATE0_ERROR_CALCULATE_TO_PROCEED" }) }}
                    </div>
                {% endif %}
                <div id="pi_ratepay_rate0_pirpmain-cont"></div>
                {{ script({ add: "
                    if(document.getElementById('pi_ratepay_rate0_pirpmain-cont')){
                        piLoadrateCalculator('pi_ratepay_rate0');
                    }
                ", dynamic: __oxid_include_dynamic }) }}
            </div>
        </div>

        <script>
            document.addEventListener('DOMContentLoaded', () => {
                piTogglePolicy('{{ sPaymentID }}');
            });
        </script>
        {{ script({ add: "piCalculator();", dynamic: __oxid_include_dynamic }) }}
        {{ script({ add: "autoLoadPiCalculator('pi_ratepay_rate0');", dynamic: __oxid_include_dynamic }) }}
        {{ script({ add: "$('#pi_ratepay_rate0_bank_box').hide();", dynamic: __oxid_include_dynamic }) }}
        {{ script({ add: "piShow('#piRpRadioElv', '#pi_ratepay_rate0_bank_box');", dynamic: __oxid_include_dynamic }) }}
        {{ script({ add: "piHide('#piRpRadioWire', '#pi_ratepay_rate0_bank_box');", dynamic: __oxid_include_dynamic }) }}
    {% endif %}

    {% if sPaymentID == "pi_ratepay_elv" %}
        {% set dynvalue = oView.getDynValue() %}
        {% if oView.getCheckedPaymentId() == paymentmethod.oxpayments__oxid.value %}
            {{ script({ add: "piCheckFingerprint();", dynamic: __oxid_include_dynamic }) }}
        {% endif %}
        <script type="text/javascript">
            document.addEventListener('DOMContentLoaded', function(){
                checkElvForm();
            }, false);
        </script>
        <div class="payment-option">
            <input id="payment_{{ sPaymentID }}" class="form-check-input" type="radio" onclick="piCalculator(); checkElvForm(); piCheckFingerprint();" name="paymentid" value="{{ sPaymentID }}" {% if oView.getCheckedPaymentId() == paymentmethod.oxpayments__oxid.value %}checked{% endif %} style="position:relative;">
            <label for="payment_{{ sPaymentID }}">{{ paymentmethod.oxpayments__oxdesc.value }}</label>
            <div class="pi_ratepay_inner {% if oView.getCheckedPaymentId() == paymentmethod.oxpayments__oxid.value %}activePayment{% else %} d-none{% endif %}">
                {% if pi_ratepay_elv_sandbox_notification == 1  %}
                    <div id="sandbox_notification{{ sPaymentID }}" style="background: yellow; color: black; border: 3px dashed red; font-weight: bold; text-align: center; font-size:14px; padding-top: 10px; ">
                        <p>
                            {{ translate({ ident: "PI_RATEPAY_ELV_VIEW_SANDBOX_NOTIFICATION" }) }}
                        </p>
                    </div>
                {% endif %}
                <div>
                    {{ translate({ ident: "PI_RATEPAY_POLICY" }) }}
                </div>
                <br/>
                <div>
                    <table>
                        <tr>
                            <td colspan="2">{{ translate({ ident: "PI_RATEPAY_VIEW_RATEPAY_INFO" }) }}</td>
                        </tr>
                    </table>
                </div>
                <ul class="form pi_ratepay_elv_form pi_ratepay_form">
                    {% if isset(pi_ratepay_elv_fon_check) %}
                        <li>
                            <label>{{ translate({ ident: "PI_RATEPAY_ELV_VIEW_PAYMENT_FON" }) }}</label>
                            <input name='pi_ratepay_elv_fon' type='text' value='' size='37'/>
                        </li>
                    {% endif %}
                    {% if isset(pi_ratepay_elv_birthdate_check) %}
                        <li>
                            <label>{{ translate({ ident: "PI_RATEPAY_ELV_VIEW_PAYMENT_BIRTHDATE" }) }}</label>
                            <input name='pi_ratepay_elv_birthdate_day' maxlength='2' size='2' type='text' value='' data-fieldsize='small'/>
                            <input name='pi_ratepay_elv_birthdate_month' maxlength='2' size='2' type='text' value='' data-fieldsize='small'/>
                            <input name='pi_ratepay_elv_birthdate_year' maxlength='4' size='4' type='text' value='' data-fieldsize='small'/>
                            <div class='note'>{{ translate({ ident: "PI_RATEPAY_ELV_VIEW_PAYMENT_BIRTHDATE_FORMAT" }) }}</div>
                        </li>
                    {% endif %}
                    {% if isset(pi_ratepay_elv_company_check) %}
                        <li>
                            <label>{{ translate({ ident: "PI_RATEPAY_ELV_VIEW_PAYMENT_COMPANY" }) }}</label>
                            <input name='pi_ratepay_elv_company' maxlength='255' size='37' type='text' value=''/>
                        </li>
                    {% endif %}
                    {% if isset(pi_ratepay_elv_ust_check) %}
                        <li>
                            <label>{{ translate({ ident: "PI_RATEPAY_ELV_VIEW_PAYMENT_UST" }) }}</label>
                            <input name='pi_ratepay_elv_ust' maxlength='255' size='37' type='text' value=''/>
                        </li>
                    {% endif %}
                </ul>

                <input type="hidden" name="pi_ratepay_elv_bank_datatype" id="pi_ratepay_elv_bank_datatype" value="{{ pi_ratepay_elv_bank_datatype }}">
                <div class="form" id="pi_ratepay_elv_sepa_bankdata" {% if pi_ratepay_elv_bank_datatype=="classic" %} style="display: none" {% endif %}>
                    <p style="margin-bottom: 15px;">
                        <label class="">{{ translate({ ident: "PI_RATEPAY_ELV_VIEW_BANK_OWNER" }) }}</label>
                        {% if not empty(pi_ratepay_elv_company_name) %}
                            <select name="rp_sepa_use_company_name">
                                <option selected="selected" value="1">{{ pi_ratepay_elv_company_name }}</option>
                                <option value="0">{{ pi_ratepay_elv_bank_account_owner }}</option>
                            </select>
                        {% else %}
                            <input type="text" class="form-control disabled" value="{{ pi_ratepay_elv_bank_account_owner }}" disabled />
                            <input type="hidden" name="rp_sepa_use_company_name" value="0" />
                        {% endif %}
                    </p>
                    <p>
                        <label class="">{{ translate({ ident: "PI_RATEPAY_ELV_VIEW_BANK_IBAN" }) }}</label>
                        <input id="pi_ratepay_elv_bank_iban" name="pi_ratepay_elv_bank_iban" onchange="checkElvForm()" maxlength='50' size='37' type="text" value="{{ pi_ratepay_elv_bank_iban }}" class="form-control required" />
                    </p>
                </div>

                <div style="margin: 15px 0;">
                    <table>
                        <tr>
                            <td>
                                <input type="hidden" name="pi_ratepay_elv_privacy" value="1" style="float: left;" />
                            </td>
                            <td>
                                <div id="pi_ratepay_elv_sepa_agreement">
                                    <p>
                                        <input type="checkbox" name="pi_ratepay_elv_sepa_agreement_check" id="pi_ratepay_elv_sepa_agreement_check" class="form-check-input" onchange="checkElvForm()" class="required" />
                                        <span style="margin-left: 5px">{{ translate({ ident: "PI_RATEPAY_ELV_VIEW_PRIVACY_AGREEMENT_TEXT_1" }) }}</span>
                                    </p>
                                    <p>{{ translate({ ident: "PI_RATEPAY_ELV_VIEW_PRIVACY_AGREEMENT_TEXT_2" }) }}</p>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', () => {
                piTogglePolicy('{{ sPaymentID }}');
            });
        </script>
    {% endif %}
    {{ style({ include: oViewConf.getModuleUrl('ratepay')~"Installment/css/style.css" }) }}
    {% if sPaymentID == "pi_ratepay_rate" or sPaymentID == "pi_ratepay_rate0" %}
        {{ script({ include: oViewConf.getModuleUrl('ratepay')~"Installment/js/path.js", priority: 10, dynamic: __oxid_include_dynamic }) }}
        {{ script({ include: oViewConf.getModuleUrl('ratepay')~"Installment/js/layout.js", priority: 10, dynamic: __oxid_include_dynamic }) }}
        {{ script({ include: oViewConf.getModuleUrl('ratepay')~"Installment/js/ajax.js", priority: 10, dynamic: __oxid_include_dynamic }) }}
        {{ script({ include: oViewConf.getModuleUrl('ratepay')~"Installment/js/mouseaction.js", priority: 10, dynamic: __oxid_include_dynamic }) }}
    {% endif %}
    {% if sPaymentID != "pi_ratepay_rechnung"
        and sPaymentID != "pi_ratepay_rate"
        and sPaymentID != "pi_ratepay_rate0"
        and sPaymentID != "pi_ratepay_elv" %}
        {{ parent() }}
    {% endif %}
{% endblock %}
